@font-face {
    font-family: 'Roboto';
    src: url('/resources/fonts/Roboto.woff2') format('woff2'),
    url('/resources/fonts/Roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekan';
    src: url('/resources/fonts/Iranyekan.woff') format('woff'),
    url('/resources/fonts/Iranyekan.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo 2';
    src: url('/resources/fonts/Baloo2-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto', sans-serif;
}

html[lang="fa"] body, .fi-body {
    font-family: 'IranYekan', 'Roboto', sans-serif !important;
}
